@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
  @apply outline-none;
}

body {
  @apply bg-black text-white font-mono;
  font-size: 15px;
  line-height: 1.6;
  display: block;
  overflow-x: auto;
  @apply p-4;
}
